:root {
  // Shades
  --color-black: #4C4B4E; // Not "rich black", to help soften the site
  --color-white: #FFFFFF;
  --color-grey-lighter: #E3E2E3;
  --color-grey-lightest: #f2f2f2;
  --color-grey-dark: #2A2A2A;

  // primary colours
  --color-primary: #0A4875;
  --color-primary-light: #386C94;
  --color-primary-lightest: #B6BACC;
  --color-secondary: #55B6B2;
  --color-secondary-lightest: #E6F4F4;

  // secondary colours
  --color-success: var(--color-secondary-lightest);
  --color-warning: #FDF4EC;
  --color-error: #F0E0DD;

  // common elements
  --color-border: var(--color-grey-lighter);

  // fonts
  --color-text: var(--color-grey-dark);
  --color-text-heading: var(--color-black);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-lightest);
  --color-link-visited: var(--color-primary-light);
}
