:root {}

// fixes for elementor
.elementor-widget-on-this-page {
  &, .elementor-widget-container { height: 100%; }
}

// actual styles
.anchor {
  &__block {
    display: block;
    background: var(--anchor-bg); // controlled directly on the element
    border-radius: var(--radius-md);

    @include breakpoint(sm) {
      max-width: calc(100% - var(--space-lg));
    }

    &--alternate {
      --anchor-bg: var(--color-secondary-lightest);
      padding: var(--space-md);

    }
  }

  &__header {
    h2 {
      margin-top: 0;
      font-size: 1.25em;
    }
  }

  &__nav {
    --divider-width:  1.875em;
    @extend %sectionBreak;
  }

  &__link {
    &--child { padding-left: var(--space-md); }
    &--active {
      color: var(--color-black);
    }
  }
}
