:root {
  --link-grid: repeat(auto-fit, minmax(240px, 1fr));
  --link-gap-h: var(--space-md);
  --link-gap-v: var(--space-md);
}

.links {
  &--grid,
  &--list {
    display: grid;
    grid-gap: var(--link-gap-v) var(--link-gap-h);
    grid-template-columns: var(--link-grid);
  }

  &--buttons {
    --link-grid: repeat(auto-fill, minmax(240px, 1fr));
  }

  &--list {
    --link-grid: 1fr;
    --link-gap-v: var(--space-sm);
    --link-gap-h: var(--space-lg);
    max-width: var(--measure);


    .section-links & { --link-grid: repeat(auto-fit, minmax(240px, 1fr)); }

    a {
      @extend %chevronGrid; // _buttons.scss
      border-bottom: 1px solid var(--color-border);
      padding-bottom: var(--space-sm);
      font-weight: var(--font-medium);

      &:last-child { border-bottom: none; }
      &:hover .chevron--down { transform: translateY(0.1em) rotate(90deg); }
    }

    svg {
      * { fill: currentColor; }
    }

    .chevron--down {
      transform: translateY(0) rotate(90deg);
      border-right: 1px solid;
      border-radius: 25%;
    }
  }

  &--list:not(.links--grid-auto):not(.anchor__nav) a {
    @include breakpoint (sm) {
      &:nth-last-child(2):nth-child(odd) { border-bottom: none; }
    }
  }
}
